@import "../../../sass/variables/variables.scss";

.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  // ---- GUEST LOGIN ----

  .guest-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;

    .guest-name-input {
      width: calc(500px - 3em);
      height: 50px;
      border: 1px solid white;
      border-radius: 10px;
      font-size: large;
      font-weight: 500;
      background-color: transparent;
      color: white;
      margin-bottom: 2em;
      padding: 0 1.5em;

      &:focus {
        outline: none;
      }
    }

    .guest-login-button {
      width: 250px;
      height: 50px;
      border: none;
      border-radius: 10px;
      font-size: large;
      font-weight: 500;
      background-color: color(secondary-light);
      color: white;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: darken(color(secondary-light), 10%);
      }

      &:active {
        background-color: darken(color(secondary-light), 5%);
      }
    }
  }

  // ---- or ----

  p {
    margin-bottom: 5em;
  }
}
