@import "../../../sass/variables/variables.scss";

.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  animation: fadein 0.2s ease-out forwards;

  // ---- or ----
  p {
    margin-bottom: 5em;

    @include width768 {
      margin-bottom: 3em;
    }
  }
}
