@import "../../../../sass/variables/variables.scss";

$button-size: 70px;

$line-small: calc(#{$button-size} * 0.07); //width for vertical
$line-long: calc(#{$button-size} * 0.55); //width for horizontal

@function center($property) {
  $buttonSize: $button-size;
  @return calc((#{$buttonSize}/ 2) - (#{$property} / 2));
}
.create-project-container {
  position: fixed;
  right: 10vw;
  bottom: 10vh;

  .create-button {
    position: relative;
    border: none;
    border-radius: 100px;
    background-color: color(secondary-light);

    width: $button-size;
    height: $button-size;

    &__plus {
      position: absolute;
      border-radius: 20px;
      background-color: white;

      &--vertical {
        top: center($line-long);
        left: center($line-small);

        width: $line-small;
        height: $line-long;
      }

      &--horizontal {
        top: center($line-small);
        left: center($line-long);

        width: $line-long;
        height: $line-small;
      }
    }
  }
}
