@import "../../../../sass/variables/variables.scss";

.user-dropdown {
  position: absolute;
  top: 60px;
  right: calc(4vw - 10px);
  padding: 20px 0;
  height: 165px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  box-shadow: -10px 10px 20px 1px color(secondary-dark);

  background: (
    linear-gradient(
      rgba(color(primary-dark), 0.9),
      lighten(rgba(color(primary-dark), 0.9), 5%)
    )
  );

  border-radius: 10px;

  &--hidden {
    height: 0;
    pointer-events: none;
    opacity: 0;
  }

  & * {
    text-align: right;
    min-width: calc(100% - 70px - 10px);
    padding: 10px 35px;
    margin: 10px 5px;

    &:hover {
      background-color: lighten(color(primary-dark), 20%);
    }

    &:active {
      color: color(primary-dark);
      background-color: lighten(color(primary-dark), 50%);
    }
  }
}
