@import "../../../../../sass/variables/variables.scss";

.preview {
  padding-top: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: calc(80% - 10px);
  border-radius: 10px 10px 0 0;

  animation: fadein 0.4s ease-out forwards;

  &--test {
    .preview-column {
      opacity: 0.2;
      .preview-task {
        background-color: color(primary-light);

        &--completed {
          background-color: color(accent4);
        }
      }
    }
  }
}
