@import "../../../../sass/variables/variables.scss";

.navbar-options {
  display: flex;
  flex-direction: row;
  margin-right: 2vw;

  .filters-container {
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
    width: 100%;
    margin: 0;

    &--hidden {
      opacity: 0;
      pointer-events: none;
    }

    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__created,
  &__members,
  &__unassigned--text {
    margin-right: 3vw;
    opacity: 0.5;
    position: relative;

    transition: all 0.1s cubic-bezier(0.6, -0.28, 0.735, 0.045);

    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      margin: 1.2em auto 0;
      background: white;
      border-radius: 50px;

      transform: scaleX(0);
      transition: transform 0.2s cubic-bezier(0, -0.6, 0, 1.65);
    }

    &:hover {
      opacity: 0.7;

      cursor: pointer;
    }
  }

  &__created,
  &__members,
  &__unassigned {
    &--active {
      opacity: 1;

      &:after {
        transform: scaleX(1);
      }

      &:hover {
        opacity: 1 !important;
      }
    }
  }

  .unassigned-container {
    position: relative;

    .unassigned-notification {
      position: absolute;
      top: -2px;
      right: calc(3vw - 10px);

      width: 8px;
      height: 8px;
      border-radius: 10px;
      background-color: color(accent3);

      animation: pulse 2s infinite ease-in-out;
    }
  }

  @keyframes pulse {
    from {
      transform: scale(1);
      box-shadow: 0px 0px 5px 1px color(accent3);
    }
    50% {
      transform: scale(1.3);
      box-shadow: 0px 0px 1px 1px color(accent3);
    }
    to {
      transform: scale(1);
      box-shadow: 0px 0px 5px 1px color(accent3);
    }
  }
}
