$colors: (
  primary-light: #44454d,
  primary-dark: #1d1d23,
  secondary-light: #7c7c7c,
  secondary-dark: #1b1c20,
  accent1: #e93223,
  accent2: #faff00,
  accent3: #00e0ff,
  accent4: #5f9e65
);

