$colors: (
  primary-light: #44454d,
  primary-dark: #1d1d23,
  secondary-light: #6f6f85,
  secondary-dark: #1b1c20,
  accent1: #e93223,
  accent2: #faff00,
  accent3: #00e0ff,
  accent4: #5f9e65
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// --- MEDIA QUERYS ---

@mixin width1920 {
  @media (max-width: 1920px) {
    @content;
  }
}

@mixin width1500 {
  @media (max-width: 1500px) {
    @content;
  }
}

@mixin width1000 {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin width1366 {
  @media (max-width: 1366px) {
    @content;
  }
}

@mixin width768 {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin width360 {
  @media (max-width: 360px) {
    @content;
  }
}
