@import "../../../../sass/variables/variables.scss";

$cardWidth: 500px;
$cardHeight: 350px;

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: relative;

  width: $cardWidth;
  height: $cardHeight;

  background-color: color(primary-light);

  border: solid 2px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
