@import "../../../../sass/variables/variables.scss";

.task-button {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: none;

  background-color: color(secondary-light);
  color: white;
  font-weight: 500;

  font-family: Montserrat, sans-serif;
  font-size: 1em;

  &:hover {
    cursor: pointer;
    background-color: darken(color(secondary-light), 10%);
  }

  &:active {
    cursor: pointer;
    background-color: lighten(color(secondary-light), 5%);
  }

  &:focus {
    outline: none;
  }

  &--Create {
    margin-left: auto;
  }
  &--Cancel {
    margin-left: calc(100% - 400px);
    background-color: darken(color(secondary-light), 20%);
  }
  &--OK{
    margin-left: auto;
  }
  &--Delete {
    background-color: lighten(color(accent1), 5%);
    margin-right: 100px;

    &:hover {
      background-color: darken(color(accent1), 10%);
    }

    &:active {
      cursor: pointer;
      background-color: lighten(color(accent1), 10%);
    }
  }
}
