@import "../../../../sass/variables/variables.scss";

.task-button {
  padding: 15px 55px;
  border-radius: 50px;
  border: none;

  background-color: color(secondary-light);
  color: white;
  font-weight: 500;

  font-family: Montserrat, sans-serif;
  font-size: 1em;
}
