@import "../../../../../sass/variables/variables.scss";

.project-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;

  background-color: color(primary-dark);

  border-radius: 0 0 10px 10px;

  &__project-icon {
    margin-left: 5%;
    max-width: 50px;
    max-height: 50px;

    transform: scale(0.8);
  }

  &__project-name {
    font-size: 1.2em;
    width: 50%;
    text-align: left;
  }

  &__delete-button {
    position: relative;
    padding: 0;
    margin: 0 5%;
    height: 35px;
    width: 35px;
    border: none;
    background-color: color(accent1);

    border-radius: 100px;

    transform: rotate(45deg);

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: darken(color(accent1), 10%);

      cursor: pointer;
    }

    &:active {
      background-color: lighten(color(accent1), 5%);
    }

    &__cross {
      width: 20px;
      height: 20px;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
