@import "../../../../../sass/variables/variables.scss";

.task-card {
  display: block;
  margin: 0 10px 15px;
  border-radius: 10px;
  background-color: rgba(color(primary-dark), 0.9);

  transition: all 0.5s cubic-bezier(0, 2, 0, 2);

  &--dragging {
    transition: all 0s linear;
    opacity: 0.8;
  }

  &:hover {
    background-color: darken(color(primary-dark), 3%);
    cursor: pointer;

    .task-card__details__severity {
      &--Low {
        box-shadow: 0 0 10px 1px color(accent3);
      }
      &--Medium {
        box-shadow: 0 0 12px 2px color(accent2);
      }
      &--High {
        box-shadow: 0 0 15px 3px color(accent1);
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px 20px 0;

    &__name {
      font-weight: bold;
      margin-right: 10px;
    }
    &__severity {
      min-width: 13px;
      height: 13px;
      border-radius: 50px;
      background-color: gray;
      margin-left: auto;

      transition: all 0.3s cubic-bezier(0, -0.6, 0, 1.65);

      &--Low {
        background-color: color(accent3);
      }
      &--Medium {
        background-color: color(accent2);
      }
      &--High {
        background-color: color(accent1);
      }
    }
  }

  &__summary {
    padding: 20px;
    opacity: 0.8;
  }
}
