.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  height: 50px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);

  font-size: 1.2em;

  z-index: 20;

  &--hidden {
    visibility: hidden;
  }

  &--visible {
    visibility: visible;
  }

  &__title {
    margin-left: 4vw;
    font-weight: 500;
    font-size: 1.2em;
    opacity: 0.5;

    &--left-aligned {
      margin-right: auto;

      &--active {
        opacity: 1;

        &:hover {
          opacity: 1 !important;
        }
      }
    }

    &--centered {
      margin-right: calc(50% - 4vw - 75px);
      opacity: 1;

      &:hover {
        opacity: 1 !important;
        cursor: default !important;
      }
    }

    &:hover {
      opacity: 0.7;

      cursor: pointer;
    }
  }

  &__user {
    height: 30px;
    width: 30px;
    margin-right: 4vw;

    opacity: 0.5;

    &:hover {
      opacity: 1;

      cursor: pointer;
    }

    &--active {
      opacity: 0.8;
    }
  }
}
