@import "../../../sass/variables/variables.scss";

$cardWidth: 700px;
$cardHeight: 400px;

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 21;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__card {
    position: relative;
    width: $cardWidth;
    height: $cardHeight;
    background-color: color(primary-dark);
    margin-bottom: 10%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    &__text {
      margin-bottom: calc(#{$cardHeight} / 2 - #{$cardHeight} * 0.1);
    }

    &__button {
      width: 150px;
      height: 50px;
      border-radius: 50px;
      border: none;
      margin-bottom: calc(#{$cardHeight} * 0.1);

      background-color: color(secondary-light);
      color: white;
      font-weight: 500;

      font-family: Montserrat, sans-serif;
      font-size: 1em;

      &:hover {
        cursor: pointer;
        background-color: darken(color(secondary-light), 10%);
      }

      &:active {
        cursor: pointer;
        background-color: lighten(color(secondary-light), 5%);
      }

      &:focus {
        outline: none;
      }

      // &--Cancel {
      //   margin-left: calc(100% - 400px);
      //   background-color: darken(color(secondary-light), 20%);
      // }
      // &--OK{
      //   margin-left: auto;
      // }
      // &--Delete {
      //   background-color: lighten(color(accent1), 5%);
      //   margin-right: 100px;

      //   &:hover {
      //     background-color: darken(color(accent1), 10%);
      //   }

      //   &:active {
      //     cursor: pointer;
      //     background-color: lighten(color(accent1), 10%);
      //   }
      // }
    }
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(color(primary-light), color(primary-dark));
    opacity: 0.9;

    z-index: 0;
  }
}
