@import "../../../../sass/variables/variables.scss";

.severity-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;

  &__checkbox {
    height: 15px;
    width: 15px;
    border-radius: 50px;

    background-color: color(primary-light);
  }

  &:hover {
    .severity-checkbox__checkbox {
      &--Low {
        background-color: rgba(color(accent3), 0.3);
      }
      &--Medium {
        background-color: rgba(color(accent2), 0.3);
      }
      &--High {
        background-color: rgba(color(accent1), 0.3);
      }
    }
  }

  &__label {
    margin-left: 5px;
  }

  &--selected {
    .severity-checkbox__checkbox {
      &--Low {
        background-color: color(accent3) !important;
        box-shadow: 0 0 10px 0px color(accent3);
        transition: all 0.2s cubic-bezier(0, 2, 0, 2);
      }
      &--Medium {
        background-color: color(accent2) !important;
        box-shadow: 0 0 10px 0px color(accent2);
        transition: all 0.2s cubic-bezier(0, 5, 0, 5);
      }
      &--High {
        background-color: color(accent1) !important;
        box-shadow: 0 0 10px 0px color(accent1);
        transition: all 0.2s cubic-bezier(0, 10, 0, 10);
      }
    }
  }
}
