@import "../../../../sass/variables/variables.scss";

.task-column {
  width: 400px;
  min-height: 90vh;
  margin: 0 5px 0 0;
  border-radius: 10px;
  padding-top: 10px;

  mask-image: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    transparent
  );

  &__title {
    text-align: center;
    margin-bottom: 10px;
    opacity: 0.8;
  }

  &__completed {
    background-color: rgba(color(accent4), 0);
    border-radius: 10px;
    margin: 0 10px;
    padding-bottom: 1px;
    opacity: 0.8;

    animation: completed-fade 0.5s 0.4s ease-in forwards;

    .task-card {
      margin: 0 10px 15px;
      background-color: rgba(color(primary-dark), 0.8);
    }

    &__title {
      text-align: center;
      margin-bottom: 20px;
      padding-top: 20px;
      opacity: 0;

      animation: fadein 0.5s 0.4s ease-in forwards;

    }
  }

  &__info {
    text-align: center;
    opacity: 0;
    padding: 0 20px;

    animation: fadein 1s 0.6s ease-out forwards;
  }

  &__spacing {
    min-height: 200px;
  }

  &--over {
    background-color: color(secondary-light);
  }

  &--Unassigned {
    background-color: rgba(color(accent3), 0.1);

    animation: unassigned-column-pop 0.2s
      cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;

    transform-origin: right;
  }

  .simplebar-wrapper {
    max-height: calc(100vh - 75px);
  }

  .simplebar-track.simplebar-vertical {
    .simplebar-scrollbar {
      &::before {
        background-color: lighten(color(primary-light), 20%);
      }
    }
  }
}

@keyframes unassigned-column-pop {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes completed-fade {
  from {
    background-color: rgba(color(accent4), 0);
  }
  to {
    background-color: rgba(color(accent4), 1);
  }
}
