@import "../../../../sass/variables/variables.scss";

.environment-dropdown {
  margin-top: 10px;
  border: solid 2px #e5e5e5;
  border-radius: 8px;
  background-color: color(primary-light);

  padding: 0 5px;

  width: 200px;

  &__top {
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    cursor: pointer;

    &__arrow {
      transform: scale(0.8) rotate(0deg);

      transition: transform 0.4s cubic-bezier(0, -0.6, 0, 1.65);

      &--reversed {
        transform: scale(0.8) rotate(-180deg);
      }
    }
  }

  &__options {
    margin: 50px 0 0 0;
    opacity: 1;
    height: 400px;

    transform-origin: top;

    transition: all 0.2s cubic-bezier(0, -0.4, 0, 1.5),
      opacity 0.2s 0.1s ease-out;

    &--contracted {
      margin: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;

      transition: all 0.1s 0.2s ease-out, opacity 0.1s ease-out,
        visibility 0.3s 0.3s step-end;
    }

    & * {
      border-radius: 4px;
      padding: 12px 15px;

      transition: all 0.5s ease-in;
      &:hover {
        transition: all 0.2s ease-out;
        cursor: pointer;
        background-color: color(secondary-light);
      }
    }
  }
}

label {
  font-weight: 500;
}
